#Menu {
  width: 900px;
  margin: 5rem auto;
  padding-top: 5rem;
}

.component {
  display: flex;
}
.Menu img {
  width: 250px;
  height: 200px;
  padding: 0;
  object-fit: cover;
  border-top-right-radius: 20px;
  border-top-left-radius: 20px;
}

.Menu {
  box-shadow: 5px 5px 5px 0px;
  border-radius: 20px;
  margin: 20px;
  width: 250px;
  text-align: center;
  background: BURLYWOOD;
  transition: transfrom;
}

.Menu:hover {
  transform: scale(1.2);
}
